.Restaurant__card  {


    &__link {
      position:relative;
     display:block;
      text-decoration: none;
      color:black;
      cursor:pointer;
   
      flex-direction: column;
      background-color: white;
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
    


      &__nouveau{
     
        position:absolute;
        left: 16rem;
        top:1rem;      
      background-color:#99E2D0;
      color:#008766;
  
      width:5rem;
      line-height: 1.5rem;
      font-size: 14px;
      z-index: 6;
      text-align: center;
      }

      &__img {
        border-radius:1rem 1rem 0rem ;
        width: 340px;
        height: auto;
      }

      &__text {
  
        padding-left: 1rem;
        padding-top:1rem;
        display:flex;
        gap: 1rem;
        width: 100%;
        
        &__info{
          display:flex;
          flex-direction: column;
          gap:0.5rem;
        }
        &__info>*{
        margin:0rem;
                 }
        
        &__like{
          height:0.001rem;
          width: 0.001rem;
          position :relative;
 


            .fa-heart{
              position: absolute;
              bottom:2rem;
              left:18rem;
              font-size: x-large;
            

            
            }
            .fa-solid{
              position: absolute;
              bottom:2rem;
              left:18rem;
          
              color:white;
      
            }
        
      
      
            @keyframes visible {

              0%{ transform: scale(0) ;
              }
          
              80%{ transform: scale(1) ;}
            }
         
          &:hover,:active,:focus{
              

              .fa-solid {
      
                 animation: visible 1s;
                 font-size: x-large;

                transform-origin: bottom;
           
              
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background:-webkit-linear-gradient(135deg, #e66465, #9198e5);
              }
        
            
          }
        
          
        } 
    
      } 
    }
   

  }



   @media (min-width: 450px){

    .Restaurant__cards  {

     
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
   &__card{
    width: 40%;
    margin:2rem;
   }

    }
   

   }
