.Footer{
    margin-top: 2rem;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:2rem;
    background-color: #353535;
    color:white;
    &__title{
        margin-block-start:0rem;
        color: white;
        font-family: 'Shrikhand';
        font-size: 22px;

  
        text-align: justify;
        
        
    }
    &__content{
     
        display:flex;
        flex-direction: column;
        gap:0.3rem;
    }
    &__content>p{
        margin-block:0rem;
    }

    .fa-solid{
    padding-right: 1rem;
    }
}

@media (min-width:450px){
    .Footer{
        display: flex;
        flex-direction: row-reverse;
        gap:3rem;
        align-items: center;
padding-right: 2rem;
        &__title{
          
            margin-bottom: 0rem;
        }
        &__content{
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    }

}