.HeaderHomepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px){ 
  .Page{
  
  }
  .line{display:flex;
    padding-left:5rem;
  }
  .Page>*{
    padding:0rem;
  }
  .HeaderHomepage{
    padding-top: 1rem;
    padding-bottom:1rem;
  }

 

}