
.Menu__Course__plates__div{
   display: flex;

    margin-bottom: 1rem;
    margin-left:1rem;
    margin-right:1rem;

width:100%;


    &__card{
     height:69px;
     display:flex;
     width: 100%;


        &__regular{
          
            width:100%;
         
            display: flex;
            justify-content: space-between;
            z-index: 2;
      
            background-color: white;
            border-radius: 1rem ;


            
         

            &__plate{

             
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                width:70%;


                padding: 0.5rem;


                //


    //             border: solid green;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // width: 70%;
    // padding: 0.5rem;
      
                &__name{
                padding:0rem;
                margin:0rem;
         
            
                text-overflow: ellipsis;
                //petits points
                white-space: nowrap;
                //pas de retour a l a ligne inline
                overflow: hidden;
                //ce qui sort est caché
                // text-overflow: ellipsis;
                // white-space: nowrap;
                // overflow: hidden;
                }
                
                &__detail{
                 
                    padding:0rem;
                    margin:0rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
    

             }
                &__price{
                
                    width: 10%;
                    min-width: 40px;
              
                display: flex;
                flex-direction: column;
            
                justify-content: flex-end;
                align-items: center;
        
            
              
                &__p{
                    padding:0rem;
                    margin:0rem;
                    padding-bottom:0.5rem;
                    
                }
              
                    }
        
            &:hover{
       
      
                border-radius: 1rem 0rem 0rem 1rem;
   
               width:calc(100% - 59px);
             
                
                +div{
                translate: 59px ;
                width:59px;
                }
            
            }
         }   

     
        
       
        &__checked{
      
            display:flex;
            justify-content: center;
            align-items: center;
            position:relative;
           
        
            right:59px;

            border-radius: 0rem 1rem 1rem 0rem;

           
            height: 69px;

            background-color: #99E2D0;
            transition: translate  1s ease-in-out;
            color:white;
            z-index:1 ;
            width: 0;
        

        }

    }
}   
        

 

    


