
.Menu__Course__plates__div{
   display: flex;

    margin-bottom: 1rem;
    margin-left:1rem;
    margin-right:1rem;




    &__card{
     height:69px;
     display:flex;
     width: 100%;

        &__regular{

            width:50rem;
         
            display: flex;
            justify-content: space-between;
            z-index: 2;
      
            background-color: white;
            border-radius: 1rem ;
            margin-right: 2rem ;

            &__plate{
                display:flex;
                flex-direction: column;
                justify-content: space-around;

                padding: 0.5rem;
      
                &__name{
                padding:0rem;
                margin:0rem;
                }
                &__detail{
                    padding:0rem;
                    margin:0rem;
                    flex-wrap: nowrap;
                    
                }
    

            }
            &__price{
                display: flex;
                flex-direction: column;
            
                justify-content: flex-end;
        
                padding-right:1rem;
                &__p{
                    padding:0rem;
                    margin:0rem;
                    padding-bottom:0.5rem;
                }
              
            }
          
            &:hover{
              margin-right:5.7rem;
                border-radius: 1rem 0rem 0rem 1rem;
            +div{
               translate:3rem ;
          
        

            }
            
            }
        }

    &__checked{
        display:flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        right:6rem;
    


        border-radius: 0rem 1rem 1rem 0rem;

        width:59px;
        height: 69px;

        background-color: #99E2D0;
        transition: translate  1s ease-in-out;
        color:white;
        z-index:1 ;
      

    }
       
        
    }
 

    


}