

.Reservez__button {
  @include MButton;

  z-index: 1;
  position: relative;

 
}

.CommanderButton {
  @include MButton;

  &:hover{
    @include HoverMButton;
  }
}


//ceci est le coeur de la Page principale

@keyframes visible {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
}

.Restaurant__cards__card__link__text__like input[type="checkbox"],
.Restaurant__cards__card__link__text__like .checked {
  animation: visible 1s;
  display: none;


  transform-origin: bottom;

  background: -webkit-linear-gradient(135deg, #9356dc, $Pink);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Restaurant__cards__card__link__text__like
  input[type="checkbox"]:checked
  ~ .checked {
  display: inline-block;
}

.Restaurant__cards__card__link__text__like
  input[type="checkbox"]:checked
  ~ .unchecked {
  display: none;
}

//ceci est le coeur de la Page restaurant

.Name__like input[type="checkbox"],
.Name__like .checked {
  animation: visible 1s;
  display: none;


  transform-origin: bottom;

  background: -webkit-linear-gradient(135deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Name__like input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.Name__like input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.fa-heart {
  position: absolute;

  font-size: x-large;
}
