.Page {
  font-family: "Roboto";
  font-style: sans-serif;
  font-weight: bold;
  color: $DefaltColor;
  text-decoration: none;
  background-color: $backgroundColor;
  width: 100%;
}
body {
  margin: 0rem;

}

h2 {
  color: #000;
  font-size: 18px;
  color: $DefaltColor;
}

h1 {
  font-size: 24px;

  color: #000;
  font-weight: bold !important;

}

