$Pink: #ff79da;
$DefaltColor: #353535;
$backgroundColor: #f7f7f7;
$Green: #99e2d0;
$Violet: #9356dc;
$heart: 135deg #9356dc #ff79da;
$buttonColor: linear-gradient(350deg, #9356dc, #ff79da);
$buttonHoverColor: linear-gradient(
  350deg,
  lighten(#9356dc, 5%),
  lighten(#ff79da, 5%)
);
